@use '../utilities' as *;

.footer-container {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   min-height: 55px;
   background-color: color(primary, dark);
   
   .footer-controls {
      margin: 0 auto;
      position: relative;
      max-width: $large-screen;
      height: auto;
      text-align: left;
      
      @include breakpoint($small-screen) { text-align: center; }
   }

   .footer-signature {
      margin: 11px;
      display: inline-block;
      color: color(gray, light);
      font-size: 12px;
      line-height: 16px;

      @include breakpoint($small-screen) { 
         margin: 0;
         line-height: 55px; 
         text-align: center;
      }
   }  
}

.social-icon__container {
   position: absolute;
   top: 0;
   right: 0;
   padding: 0 11px;
   width: auto;
   height: auto;
   float: right;
   line-height: 55px;
   list-style: none;
   
   .social-icon {
      padding: 0 8px;
      float: left;
      
      .social-linkedin { @include social-icon('linkedin'); }
   }
}