@use '../utilities' as *;

.header-container {
  position: fixed;
  top: -65px;
  width: 100%;

  overflow: hidden;
  z-index: $header-container;
  opacity: 0;
  
  background-color: color(primary, dark);
  border-bottom: 1px solid color(primary, mid);
  transition: all 0.3s ease-out;

  &.fixed {
    top: 0;
    opacity: 1;
  }

  .button {
    margin: 11px 0;
    border: none;
    border-radius: 0;
    font-weight: 700;
  }
}

.header-container--slim {
  @include breakpoint($small-screen) { 
    .button {
      margin: 0;
    }
  }
}

.header-controls {
  margin: 0 auto;
  max-width: $large-screen;
  height: auto;
  overflow: hidden; 

  .header-logo {
    margin: 0 0 0 22px;
    float: left;
    line-height: 33px;
  }
}

.header-controls ul {
  margin: 0;
  padding: 0 11px;
  display: none;
  width: auto;
  height: auto;
  float: right;
  line-height: 33px;
  list-style: none;

  &.show-nav {
    margin: 0 0 22px;
    width: 100%;
    display: block;

    li { 
      float: none; 
      text-align: right;
    }
  }

  li {
    padding: 0 22px 0 0;
    float: left;
  }

  @include breakpoint($small-screen) { display: block; }
}

.header-controls__nav-toggle {
  margin: 20px 22px;
  position: relative;
  width: 28px;
  height: 24px;
  float: right;

  input[type="checkbox"] {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;

    &:checked + span {
      background: transparent;

      &:before { transform: rotate(-45deg) translate(-4px, 12px); }
      &:after { transform: rotate(45deg) translate(-1px, -8px); }
    }
  }

  @include breakpoint($small-screen) { display: none; }
}

.nav-icon {
  position: absolute;
  top: 9.5px;
  width: 100%;
  height: 5px;
  background: color(gray, light);    

  &:before, 
  &:after {
    position: absolute;    
    width: 100%;
    height: 5px;
    content: "";
    background: color(gray, light);
    transition: all 0.3s ease-out;
  }

  &:before { top: -9px; }
  &:after { top: 9px; }
}