@use '../utilities' as *;

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

iframe {
	max-width: 100% !important;
	min-width: 100% !important;
	min-height: 480px !important;
	width: auto !important;
	height: auto !important;

	@include breakpoint($small-screen) { 
		min-height: 880px !important;
	}

	@include breakpoint($medium-screen) { 
		min-height: 1140px !important;
	}
}

h1 {
  margin: 0 auto 22px;
  font-size: 36px;
  text-align: center;

  @include breakpoint($small-screen) { 
	margin: 44px auto 22px;
  	font-size: 44px;
  }
}

h2 {
  margin: 0 auto 11px;
  font-size: 28px;
  text-align: center;

  @include breakpoint($small-screen) { 
	margin: 44px auto 22px;
	font-size: 33px;
  }
}

p {
  margin: 0 0 22px;
}

a {
  color: color(primary, light);
  font-weight: 700;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $header-font;
	text-shadow: rgba(color(gray, jet), 0.1) 0 0 1px;
}

p,
a,
span,
small,
ul,
li {
	font-family: $default-font;
	text-shadow: rgba(color(gray, jet), 0.1) 0 0 1px;
}

.main-container {
  position: relative;
  height: auto;
  min-height: 100%;
  background-color: color(gray, light);
  color: color(gray, jet);
}

.main-content {
  margin: 0 auto;
}

.content {
  height: 100%;
}
