// Colors accessible via nested maps
$color-map: (
    primary: (
        light   : #009bff,
        mild    : #006cb2,
        mid     : #005d99,
        dark    : #002e4c
    ),
    secondary: (
        light   : #5d2659,
        dark    : #2b275a
    ),
    gray: (     
        light   : #f5f5f5,
        mild    : #bdbdbd,
        mid     : #616161,
        dark    : #424242,
        jet     : #212121
    )
);

// Media query upper sizes
$mobile-screen: 480px;
$small-screen: 768px;
$medium-screen: 1024px;
$large-screen: 1366px;

// Fonts
$default-font: 'Oxygen', sans-serif;
$header-font: 'Oxygen', sans-serif;

// Vertical indices
$banner-container: 1000;
$banner-canvas: -1;
$banner-particle: 1002;
$section-before: 1009;
$header-container: 1010;