@use '../utilities' as *;

.button {
    color: color(gray, light);
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    margin: 22px 0;
    min-width: 80px;
    padding: 11px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease-out;

    &:hover { 
        background-color: color(primary, mild);
        text-decoration: none;
    }

    &.center { 
        max-width: 120px; 
    }

    &.wide {
        max-width: 240px;
    }

    &.full {
        max-width: 100%;
    }
}

.button__return-top {
    background-color: color(gray, jet);
    border-radius: 50%;
    bottom: 66px;
    color: white;
    height: 44px;
    line-height: 44px;
    position: fixed;
    right: 11px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    width: 44px;

    &:hover { 
        transform: translateY(-0.25rem); 
    }

    img {        
        height: auto;
        padding: 0 0 5.5px;
        width: calc(100% - 22px);
        vertical-align: middle;
    }
}
