@use '../utilities' as *;

.button {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    margin: 22px 0;
    min-width: 80px;
    padding: 11px;

    background-color: color(primary, mid);
    border: 2px solid color(gray, light);
    border-radius: 30px;
    box-shadow: 0 0 4px 0 color(tertiary, light);
    color: color(gray, light);
    text-align: center;
    text-decoration: none;
    text-shadow: rgba(color(gray, light), 0.2) 0 0 0;
    transition: all 0.2s ease-out;

    &:hover { 
        border: 2px solid color(tertiary, light);
        box-shadow: 1px 1px 2px 0 rgba(color(gray, jet), 0.5) inset;
        text-decoration: none;
        text-shadow: color(gray, light) 0px 0px 1px;
    }

    &.center { 
        max-width: 120px; 
    }

    &.wide {
        max-width: 240px;
    }

    &.full {
        max-width: 100%;
    }
}

.button__return-top {
    background-color: color(gray, jet);
    border-radius: 50%;
    bottom: 66px;
    color: white;
    height: 44px;
    line-height: 44px;
    position: fixed;
    right: 11px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    width: 44px;

    &:hover { 
        transform: translateY(-0.25rem); 
    }

    img {        
        height: auto;
        padding: 0 0 5.5px;
        width: calc(100% - 22px);
        vertical-align: middle;
    }
}
