@use '../utilities' as *;

.button {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    margin: 22px 0;
    min-width: 80px;
    padding: 11px;

    background-color: color(primary, mid);
    border: 2px solid color(tertiary, dark);
    border-radius: 30px;
    box-shadow: 1px 1px 2px 0 color(gray, jet);
    color: color(tertiary, dark);
    text-align: center;
    text-decoration: none;
    text-shadow: color(gray, jet) 1px 1px 1px;
    
    transition: all 0.2s ease-out;

    &:hover { 
        box-shadow: -5px -5px color(gray, dark) inline;
        text-decoration: none;
    }

    &.center { 
        max-width: 120px; 
    }

    &.wide {
        max-width: 240px;
    }

    &.full {
        max-width: 100%;
    }
}

.button__return-top {
    background-color: color(gray, jet);
    border-radius: 50%;
    bottom: 66px;
    color: white;
    height: 44px;
    line-height: 44px;
    position: fixed;
    right: 11px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    width: 44px;

    &:hover { 
        transform: translateY(-0.25rem); 
    }

    img {        
        height: auto;
        padding: 0 0 5.5px;
        width: calc(100% - 22px);
        vertical-align: middle;
    }
}
