@use '../utilities' as *;

.section__container {
  margin: 0 auto;
  padding: 0 0 11px;

  @include breakpoint($small-screen) { 
    padding: 0 0 44px;
  }

  hr:after { background-color: color(gray, light); }
}

.section__container--alt {
  color: white;
  margin: 55px 0 0;
  padding: 0;

  @include breakpoint($small-screen) {
    margin: 99px 0 0;
  }
}

.section__content {
  margin: 0 auto;
  max-width: $large-screen;
  padding: 11px 22px 11px;

  @include breakpoint($small-screen) { 
    padding: 22px 22px 44px;
  }
}

.section__content--construction {
  height: 300px;
  padding: 22px;
  width: 300px;
  
  background-color: color(secondary, mid);
  border: 2px solid color(tertiary, dark);
  border-radius: 50%;
  box-shadow: -2px -2px 4px 0 rgba(color(gray, jet), 0.5) inset;
  color: color(tertiary, light);
}

.section__tabs-container { 
  margin: 0 0 22px; 
}

.section__tabs-list {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  list-style: none;
  text-align: left;

  li {
    padding: 22px 0;
    display: block;
    float: left;
    width: 33%;
    text-align: center;
    background: color(primary, light);

    &.selected { background: color(primary, mid); }
  }
}

.section__tabs-content {
  padding: 22px;
  display: none;
  font-size: 16px;
  margin: 22px 0 0;
  line-height: 22px;
  background: color(primary, mid);

  &.visible { display: block; }
}
